nav {
	height: 100px;
	background-color: tomato;
}

.menu-bar {
	height: 50px;
	background-color: #323;
}

.brand-header {
	height: 100%;
}

.col-4-w {
	height: 100%;
	background: tomato;
}

.col-6-w {
	padding-left: 0;
	padding-bottom: 20px;
}

.row-stories {
	height: 100%;
}

.img {
	width: 100%;
	height: 250px;
	background-color: antiquewhite;
}

.img-travel {
	width: 100%;
	height: 160px;
	background-color: antiquewhite
}

.hero-img {
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: antiquewhite;
}

.img-news {
	width: 48%;
	height: 100px;
	background-color: antiquewhite
}

.img-more-news {
	width: 140px;
	float: left;
	background-color: antiquewhite
}

.featured-stories {
	padding: 20px;
	background-color: #777;
	margin: 20px 0;
	width: 100%;
}

.featured-stories h1 {
	width: 48%;
	padding-left: 20px;
}

.travel-stories {
	margin-left: 0;
	background-color: #777;
}
.opinion-stories {
	padding: 20px;
	background-color: #777;
	margin: 20px 0;
}

.opinion-content {
	flex-direction: row;
}

.news-stories {
	display: flex;
	padding: 10px;
	background-color: #777;
	margin: 20px 0;
	width: 100%;
}

.news-stories h1 {
	width: 60%;
	padding-left: 20px;
}

.more-stories {
	display: flex;
	width: 100%;
}



.info h1, .info p {
	width: 100%;
	padding: 0px;
	margin: 0;
}

.info {
	margin: 0;
	width: 72%;
	margin-left: 20px;
}

h2 {
	font-size: 18px;
}

h1 {
	color: black !important;
	font-size: 16px;
}

a {
	text-decoration: none;
}

