nav {
	height: 100px;
	background-color: tomato;
}

.menu-bar {
	height: 50px;
	background-color: #323;
}

.brand-header {
	height: 100%;
}

.col-4-w {
	height: 100%;
	background: tomato;
}

.col-6-w {
	padding-left: 0;
	padding-bottom: 20px;
}

.row-stories {
	height: 100%;
}

.img {
	width: 100%;
	height: 250px;
	background-color: antiquewhite;
}

.img-travel {
	width: 100%;
	height: 160px;
	background-color: antiquewhite
}

.hero-img {
	width: 60px;
	height: 60px;
	border-radius: 50px;
	background-color: antiquewhite;
}

.img-news {
	width: 48%;
	height: 100px;
	background-color: antiquewhite
}

.img-more-news {
	width: 135px;
	height: 90px;
	float: left;
	margin: 0 20px 10px 0;
	background-color: antiquewhite;
}

.featured-stories {
	padding: 20px;
	background-color: #777;
	margin: 20px 0;
	width: 100%;
}

.featured-stories h1 {
	width: 100%;
}

.travel-stories {
	margin-left: 0;
	background-color: #777;
}
.opinion-stories {
	padding: 20px;
	background-color: #777;
	margin: 20px 0;
}

.opinion-content {
	flex-direction: row;
}

.news-stories {
	display: flex;
	padding: 10px;
	background-color: #777;
	margin: 20px 0;
	width: 100%;
}

.news-stories h1 {
	width: 60%;
	padding-left: 20px;
}

.more-stories {
	width: 100%;
	height: 130px;
	background-color: #777;
	margin-bottom: 20px;
}

.info h1, .info p {
	width: 100%;
	padding: 0px;
	margin: 0;
}

.info {
	margin: 0;
	width: 72%;
	margin-left: 20px;
}

h2 {
	font-size: 18px;
}

h1 {
	color: black !important;
	font-size: 16px;
}

a {
	text-decoration: none !important;
	color: black !important;
}

p {
	font-size: 15px !important;
	line-height: 20px !important;
}

.fixed {
	position: static;
	overflow: hidden;
}

.scrollme {
	top: 150px;
	height: 2000px;
	overflow: scroll;
	margin-bottom: 20px;
}

.col-9-w {
	display: flex;
	width: 30%;
	padding-left: 20px;
	background-color: #777;
}

.magazine-stories {
	margin: 25px 0 0 20px;
}



.img-magazine {
	height: 260px;
	margin-top: 20px;

	background-color: antiquewhite;
}

.img-magazine-top {
	height: 300px;
	background-color: #323;
}

.img-slideshow {
	width: 396px;
	height: 264px;
	background-color: antiquewhite;

}

.category , .category-tag{
	margin: 20px 0;
}

.category span:first-child {
	padding: 5px;
	background-color: red;
	margin-bottom: 5px;
	margin-right: 10px;
	color: white;
}

.category span:last-child{
	color: red;
}

.img-magazine-pick {
	height: 180px;
	background-color: antiquewhite;
}

.category-tag span {
	padding: 5px;
	color: red;
	background: #ddd;
	font-weight: 500;
	font-size: 18px;
	display: inline;
	margin-bottom: 5px;
}

.img-slideshow {
	margin-top: 30px;
}