@import url('https://fonts.googleapis.com/css?family=Lora|Roboto+Condensed:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Roboto:400,500&display=swap');

* {
  -webkit-font-smoothing: antialiased;
  outline: 0 none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
img {
  background: #f4f5f6;
  width: 100%;
  min-height: 33px;
}

.img { opacity: 0; }

.load-in {
  opacity: 1;
  transition-delay: 100ms;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

nav {
  display: none;
  background-color: white;
  border-bottom: 2px solid #f4f5f6;
}

main {
  padding-top: 13%;
  background: white;
}

h1,
h2,
h3,
a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: black;
}

h4 {
  padding-right: 6px;
  padding-left: 6px;
}

h2 { font-size: 18px; }

h1,
h3,
.sponsor h2 {
  margin-top: 10px;
  font-size: 24px;
  line-height: 24px;
}

footer {
  font-size: 30px 15px;
}

.footer-wrapper { padding: 30px; }

.sign-btn,
.subscribe-btn {
  font-size: 18px;
  padding: 20px 0 0 0;
  align-self: flex-end;
  margin-left: 20px;
  margin-right: 0;
  margin-bottom: 20px;
}

.sign-btn {
  color: white;
  padding: 20px 20px 0 0;
}
.magazine-thumb { margin-top: 30px; }

.subscribe-btn {
  background-color: white;
  padding: 2px 15px 2px 20px;
  margin: 0 20px 0 20px;
  margin-bottom: 20px;
}

.text-footer a,
.text-footer span,
.social-buttons {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif !important;
  font-weight: 400;
  color: #666;
  margin: 12px 0;
}

.text-footer a {
  border-right: 1px solid #d9d9d9;
  padding-right: 10px;
  margin-right: 10px;
}

.social-buttons i {
  font-size: 24px;
  padding: 5px;
}

.hamburger-wrapper {
  display: flex;
  flex-direction: column;
}

.hamburger {
  flex-direction: column;
  align-items: end;
  margin: auto auto auto calc(100% / 3);
  padding-bottom: 10px;
}

.hamburger span {
  background-color: #fb9a94;
  padding: 2px 18px;
  width: 30px;
  height: 5px;
  margin: 5px auto 0 auto;

}

article { box-sizing: border-box; }

a:hover {
  color: inherit;
  text-decoration-line: underline #f72210;
}

.date { display: none; }

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #333;
  padding-bottom: 0;
}

.slide-box {
  width: 70px;
  height: 52px;
  text-align: center;
  line-height: 58px;
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png) 0 0/contain no-repeat;
}

.col6-left {
  padding-left: 0;
  padding-right: 10px;
}

.col6-right {
  padding-right: 0;
  padding-left: 10px;
}

.info h1,
.latest {
  font-size: 18px;
}

.latest {
  margin-bottom: 0;
  font-size: 21px/17px;
}

.latest-news:first-child { border: 0; }

.tag-grey {
  padding: 0 6px;
  background-color: #c2d4d7;
  margin-bottom: 20px;
}

.grey-box {
  background-color: #f4f5f7;
  margin-bottom: 20px;
  padding-top: 10px;
}

.info p {
  font-size: 14px;
  color: #555;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.styled-text { padding-bottom: 20px; }

.styled-text h1 {
  padding: 10px 10px 10px 0;
}

.styled-text p {
  padding-right: 10px;
  padding-left: 10px;
}

.newsletter a {
  background-color: #666;
  color: white;
  padding: 10px 10px 10px 12px;
}

.styled-text h4 a {
  font-family: 'Lora', serif !important;
  color: #272727;
  font-size: 20px;
  line-height: 22px;
  font-weight: 400;
}

.mg-box { position: relative; }

.mg-glass {
  position: absolute;
  background: url(https://g.newsweek.com/www/images/icon-search-glass.svg) center/contain no-repeat white;
  width: 20px;
  height: 20px;
  top: 7px;
  right: 10px;
}

input {
  border: none;
  width: 100%;
  font-size: 16px;
}

input:focus::placeholder {
  color: transparent;
}

/* javascript-menu */
.vertical-menu {
  display: block;
  float: right;
  width: 220px;
  height: 100vh;
  box-shadow: 5px 6px 4px 4px black;
}

.out {
  translate: 100% 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
}

.in {
  translate: 0% 0;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}

.vertical-menu .menu .mg-box .mg-glass {
  position: absolute;
}

.vertical-menu .menu {
  font-size: 21px;
}

.vertical-menu .menu a,
.vertical-menu .menu input { margin-left: 15px; }

.vertical-menu .menu a:hover {
  background-color: black;
  padding: 8px 15px;
  margin-left: 0;
}

/* X close animation */

.bar-1 {
  top: -10px;
  transform-origin: top;
  transform: rotate(0deg);
  left: -5px;
}

.bar-2 {
  top: -5px;
  left: -5px;
  position: absolute;
}

.bar-3 {
  top: 5px;
  left: -5px;
  transform-origin: right;
  transform: rotate(0deg);
  position: absolute;
  background-color: lightseagreen;
}

.x .bar-1 {
  transform-origin: right;
  transform: rotate(45deg);
  transition: all 0.3s ease;
  top: 15px;
  left: -5px;
}

.x .bar-2 {
  display: none;
  transition: all 0.3s ease;
}

.x .bar-3 {
  transform-origin: right;
  transform: rotate(-45deg);
  transition: all 0.3s ease;
  top: -15px;
  left: -5px;
}

.menu-bar { height: 50px; }

.brand-header {
  height: 100%;
}

.brand {
  padding: 10px 10px 10px 0;
  margin-top: 10px;
  width: 132px;
  height: 20px;
}

.brand-footer {
  width: 236px;
  height: 36px;
  margin-right: 15px;
  margin-bottom: 12px;
}

.nav-logo {
  fill: white;
}

.footer-logo {
  fill: #f72210;
}

.row-stories {
  height: 100%;
}

.featured-stories {
  padding: 15px 0 15px 0;
  width: 100%;
  order: 1;
}

.featured-stories h1 {
  width: 100%;
}

.top-story {
  padding-left: 0;
  padding-right: 0;
}

.travel-stories {
  margin-left: 0;
}

.opinio {
  margin-bottom: 30px;
}

.opinion-stories {
  padding: 15px 0;
}

.opinion-content {
  flex-direction: row;
}

.news-stories-first {
  margin-top: 30px;
  padding-top: 0;
}

.text-news {
  position: relative;
  top: 30px;
  font-size: 25px/22px;
  margin-bottom: 0;
  padding: 11px;
}

hr {
  width: calc(100% - 15px) !important;
  margin: 5px 0;
}

.hr-w-100 {
  position: relative;
  top: 5px;
}

.news-stories {
  display: flex;
  padding: 10px 0;
  width: 100%;
  border-top: 1px solid #ddd;
}

.news-stories h1 {
  width: 50%;
  padding-left: 20px;
  font-size: 17px;
}

.more-stories {
  width: 100%;
  height: auto;
  padding-bottom: 14px;
  padding-top: 14px;
  border-top: 1px solid #ddd;
}

.more-stories p,
.sponsor p {
  margin-bottom: 0 !important;
}

.more-stories h1 {
  font-size: 17px;
  line-height: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.info h1,
.info p {
  width: 100%;
  padding: 0;
  margin: 0;
}

.info {
  margin: 0;
  width: 72%;
  margin-left: 20px;
}

.fixed {
  position: static;
  overflow: hidden;
}

.magazine-stories {
  position: relative;
  margin-top: 25px;
}

.magazine-stories h2 {
  margin-top: 12px;
  font-size: 16px;
}

.img-travel {
  width: 100%;
  height: 160px;
}

.hero-img {
  width: 60px;
  height: 60px;
}

.no-border { border: 0; }

.img-more-stories {
  width: 50%;
  height: 100%;
  float: left;
  margin: 0 15px 10px 0;
}

.info-stories { width: 50%; }

.info-stories h2 {
  width: 100%;
}

.news-stories h2 {
  width: 100%;
  padding-left: 15px;
}

.info-stories p,
.magazine-stories p {
  font-size: 13px;
  line-height: 18px;
}

.slideshow-stories h2,
.pick-stories h2 {
  margin-top: 10px;
  font-size: 18px;
}

.img-magazine,
.img-magazine-pick {
  width: 100%;
  height: 100%;
  padding-top: 20px;
}

.img-magazine-top {
  height: 100%;
  background-color: #323;
  width: 100%;
}

.img-slideshow {
  width: 100%;
  margin-top: 30px;
}

.img-newsletter {
  width: 100%;
  height: 100%;
  background: url("https://d.newsweek.com/en/full/1525348/newsletter-promo-home-page.png") center center / cover no-repeat;
  margin-top: 30px;
  padding-top: 26%;
}

.c-78 { margin-top: 30px; }

.img-news,
.img-news h1 {
  width: 50%;
  height: 100%;
}

.category-tag span {
  padding: 5px 15px 9px;
  background: rgba(255, 255, 255, 0.9);
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: bold;
  font-size: 17px/16px;
}

.category-tag { bottom: 0; }

.category {
  margin: 20px 0 0 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}

.big-shots {
  margin-top: 0;
  bottom: -5px;
}

.category span:first-child {
  padding: 5px 7px;
  margin-bottom: 5px;
  margin-right: 10px;
  color: white;
  background-color: #f72210;
}

.red { color: #f72210; }
.white { color: white; }
.blue { color: #3581f4; }

.category-tag-grey {
  padding: 0 5px;
  display: inline-block;
  background-color: #c2d4d7;
}

.sponsor {
  padding: 20px;
  border: 1px solid #ddd;
}

.newsletter {
  max-width: 300px;
  height: auto;
  padding: 20px;
  margin: 30px auto 30px;
  background-color: #f4f5f6;
  border: 1px solid #e5e5e5;
  color: #333;
  font-family: 'Roboto Condensed', sans-serif;
  flex-wrap: wrap;
}

.pic-overlay {
  background: url(https://g.newsweek.com/themes/newsweek/images/icon-slideshows-nw.png);
  background-repeat: no-repeat;
  z-index: 999999;
}

.newsletter h3 {
  font-size: 15px;
  font-weight: 700;
  padding-top: 15px;
}

.newsweek-logo {
  display: block;
  width: 30px;
  height: 30px;
  background: url(https://g.newsweek.com/www/images/logo-n1.svg) no-repeat #f72210;
}

.sign-up { font-size: 19px; }

.sign-up h1 {
  display: inline-block;
  vertical-align: top;
  padding: 15px 0 10px 0;
}

.text-title {
  color: rgba(3, 3, 3, 0.4);
  font-size: 16px;
}

.col3 {
  flex-basis: 29%;
  max-width: 29%;
  margin: 20px 0 0 -30px;
  padding: 15px 0 40px 0;
  padding-left: 15px;
}

.col5 { flex-basis: 41%; }

.col7 {
  padding-left: 35px;
  margin-left: -15px;
  flex-basis: 59%;
}

.col9 { flex-basis: 71%; }

.grey-travel-stories { background-color: #f4f5f7; }

.img-mini-magazine {
  width: 170px;
  height: 228px;
}

.front {
  left: 96px;
  position: absolute;
  top: 15px;
}

.border-grey { border: 1px solid #ebebeb; }

.subscribe-block {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: center;
  margin-top: 30px;
}

.subscribe-button {
  margin: 0 auto;
  background-color: #666;
  color: white;
  padding: 10px 10px 10px 12px;
  font-size: 18px;
  width: fit-content;
}

.info-subscribe {
  padding-top: 30px;
  margin-left: -15px;
}

.info-subscribe h1,
.subscribe-block h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.info-subscribe p,
.subscribe-block p {
  text-align: center;
  margin-bottom: 25px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
}

.bg-red { background-color: #f72210; }

.grey { background-color: #f4f5f6; }

.newsletter-l,
.newsletter-r {
  padding-left: 0;
  padding-right: 0;
}

.hack { margin-top: 30px; }

/* testing clases */

/* desktops */
@media (min-width: 1020px) {
  [class*="item-"] { display: block; }

  input:focus {
    width: 100%;
  }

  .date {
    display: block;
    align-self: flex-end;
    padding-bottom: 20px;
    font-size: 18px;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
  }

  nav { display: block; }

  .separator {
    position: absolute;
    top: 40;
    right: 0;
    content: "";
    width: 80px;
    border-left: 13px solid white;
    border-top: 13px solid #f72210;
  }

  .brand {
    width: 396px;
    height: 100%;
    padding: 15px 0;
    margin: 0 auto;
  }

  .img-magazine-pick {
    padding-top: 0;
    height: 180px;
  }

  .img-magazine {
    padding-top: 20px;
  }

  .img-newsletter {
    width: 100%;
    background: url("https://d.newsweek.com/en/full/1525348/newsletter-promo-home-page.png") center center / cover no-repeat;
    margin-top: 30px;
    margin-right: -15px;
  }

  .img-newsletter,
  .newsletter-l {
    height: 100%;
  }

  .newsletter-l { padding-right: 30px; }
  .newsletter-r { padding-left: 0; }

  .img-slideshow {
    width: 100%;
    height: 264px;
  }

  .text-news {
    position: relative;
    top: 30px;
    font-size: 25px;
    padding: 11px;
  }

  .subscribe-block {
    padding: 30px;
    margin-top: 30px;
  }

  .hack { padding-bottom: 60px; }

  .info-subscribe { padding: 0 0 0 30px; }

  .img-news {
    width: 135px;
    height: 90px;
  }

  .info-subscribe h1,
  .subscribe-block h2 {
    font-size: 24px;
  }

  .menu { padding: 15px 10px; }

  .menu a {
    font-size: 21px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .mg-glass {
    left: 60px;
    top: 5px;
  }

  .out { display: none; }

  .vertical-menu {
    visibility: hidden;
  }
}

/*  tablets */
@media (min-width: 740px) {

  .info-stories { width: 100%; }

  .img-more-stories,
  .img-news {
    width: 135px;
    height: 90px;
  }

  .subscribe-block {
    margin-top: 30px;
    text-align: justify;
  }

  .subscribe-block p {
    text-align: left;
  }

  .newsletter-r { padding-left: 15px; }

  .newsletter-l {
    padding-right: 0;
    padding-left: 0;
  }

  .subscribe-button { margin: 0; }

  .info-subscribe { padding: 30px 0 0 0; }

  .info-subscribe h1,
  .subscribe-block h2 { font-size: 24px; }

  .c-22 { flex-basis: 22%; }

  .c-78 { flex-basis: 78%; }
}
